button.share-button {
  max-width: 600px;
  margin: 15px auto 5em !important;
}

.close {
  float: none !important;
  font-size: 46px !important;
}

.navbar {
  .container-fluid {
    text-align: center;
  }
}

.container {
  margin-top: -75px;
}