.navbar-form {
  margin-right: 5px !important;
  margin-left: 5px !important;
  padding: 5px !important;
  border: 0 !important;
}

.container {
  position: relative;
  padding-top: 75px;
  margin-bottom: 75px;
}
