.navbar-form {
  margin-right: 5px !important;
  margin-left: 5px !important;
  padding: 5px !important;
  border: 0 !important;
}

.close {
  float: none !important;
  font-size: 46px !important;
}

.navbar {
  .container-fluid {
    text-align: center;
  }
}
